<!DOCTYPE html>
<html>

<head>
    <title>Système solaire</title>
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="pageWeb.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="data.json"></script>
    <script src="recupe.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script>
        //instancie le module SolarSytstem et le store dans app
        var app = angular.module("myapp", []); 
        
        // controller principal
        app.controller("MainCtrl", function($scope) {
            
            $scope.dataplanet = angular.fromJson(data); //parse le data.json
            $scope.parameters = ["Distances","Température","Masse"];



            //apres, on pourra recup directement les noms du data.json avec angular.fromJson(dataplanet)[x].name
            $scope.planets = ["Mercure","Venus","Terre","Mars","Jupiter","Saturne","Uranus","Neptune"];
            
            // cette function renvoie un JSON de data (pas sur que ca marche encore bien)
        
         })

        // custom filter pour afficher les unites des distances correctement
        .filter('distance', function () {
            return function (input) {
                if (input <= 999999) {
                    return (input/1000).toFixed(5) + 'Mkm';
                } 
                else if (input > 999999){
                    return (input/1000000).toFixed(5) + 'Md km';
                }
            }
            });
app.controller('changeInformationPlanet', function($scope){
            $scope.changeInformation = function(paramUser) {
                // Initialization
                $scope.paramUser = paramUser;
                $scope.distIsEnabled = false;
                $scope.tempIsEnabled = false;
                $scope.masseIsEnabled = false;
                $scope.rotIsEnabled = false;
                $scope.rot2IsEnabled = false;
                $scope.inclinaisonIsEnabled = false;

                for (var i = 0; i <= dataPlanet.length; i++) {
                    console.log(dataPlanet[0].name);
                    console.log(typeof(dataPlanet[i].name));
                    namePlanet[i] = dataPlanet[i].name;

                    if ($scope.paramUser.indexOf("dist") !== -1) {
                        $scope.distIsEnabled = true;
                        $scope.userChoice = "Distance";
                        $scope.paramUser = "dist";
                        infoUser[i] = dataPlanet[i].dist;
                    } else if ($scope.paramUser.indexOf("temperature") !== -1) {
                        $scope.tempIsEnabled = true;
                        $scope.userChoice = "Température";
                        $scope.paramUser = "temperature";
                        //planet[i].infoUser = dataPlanet[i].temperature;
                    } else if ($scope.paramUser.indexOf("masse") !== -1) {
                        $scope.masseIsEnabled = true;
                        planet[i].infoUser = dataPlanet[i].masse;
                    } else if ($scope.paramUser.indexOf("rotation") !== -1) {
                        $scope.rotIsEnabled = true;
                        planet[i].infoUser = dataPlanet[i].rotation;
                    } else if ($scope.paramUser.indexOf("rotation2") !== -1) {
                        $scope.rot2IsEnabled = true;
                        planet[i].infoUser = dataPlanet[i].rotation2;
                    } else if ($scope.paramUser.indexOf("inclinaison") !== -1) {
                        $scope.inclinaisonIsEnabled = true;
                        planet[i].infoUser = dataPlanet[i].inclinaison;
                    }
                }
                //$scope.dataplanet = planet;
            }
        });

        app.filter('infoFilter', function(){
            console.log("Test");
            return function(input_values, $scope) {
                    if(typeof(input_values) != "undefined"){
                        if(typeof(input_values) == "object"){
                            var output_values = [];

                            //For each planet, check if it's the good parameter
                            for(var i = 0; i < input_values.length; i++){
                                output_values[i].name = input_values[i].name;
                                
                                if (distIsEnabled == true) {
                                    output_values[i].infoUser = input_values[i].dist;
                                } else if (tempIsEnabled == true) {
                                    output_values[i].infoUser = input_values[i].temp;
                                } else if (masseIsEnabled == true) {
                                    output_values[i].infoUser = input_values[i].masse;
                                } else if (rotIsEnabled == true) {
                                    output_values[i].infoUser = input_values[i].rotation;
                                } else if (rot2IsEnabled == true) {
                                    output_values[i].infoUser = input_values[i].rotation2;
                                } else if (inclinaisonIsEnabled == true) {
                                    output_values[i].infoUser = input_values[i].inclinaison;
                                }

                            }
                        }
                    } else {
                        throw("You apply this filter to an undefined object");
                    }
            }
        });



        


</script>
<style type="text/css">
    body {text-align: center;} /* Pour centrer dans IE */
    table {margin: 0 auto;} /* Pour centrer dans FF */

    </style>
</head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Planetarium</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="carousel.html">Galerie d'images</a></li>
        <li><a href="readme.html">Crédits</a></li>
        <!--<li><a href="#contact">Contact</a></li>-->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<body ng-app="myapp" ng-controller="MainCtrl">

<div  style="color:white; background:transparent" class="jumbotron text-center">
    <h1>SYSTEME SOLAIRE</h1>
    <p>Projet WEB</p> 
    <h2>{{parJson}}</h2>
    
</div>
<div class="container"> 
  <div class="row">   

<div class="col-sm-4">
<div class="buttons" style="width:30%;">
        <li >
        <button ng-repeat="x in dataplanet" class="planet-button btn btn-danger btn-md" href="#" data-toggle="modal" data-target="#mymodal" onclick="populateModal(this.value)" value="{{x}}">{{x.name}}</button>
        </li>
                        
<!-- <button class="planet-button btn btn-danger btn-md" href="#" data-toggle="modal" data-target="#mymodal" onclick="populateModal(this.value)" value="2" >Venus</button>
<button class="planet-button btn btn-danger btn-md" href="#" data-toggle="modal" data-target="#mymodal" onclick="populateModal(this.value)" value="3">Terre</button>
<button class="planet-button btn btn-danger btn-md" href="#" data-toggle="modal" data-target="#mymodal" onclick="populateModal(this.value)" value="4">Mars</button>
<button class="planet-button btn btn-danger btn-md" href="#" data-toggle="modal" data-target="#mymodal" onclick="populateModal(this.value)" value="5">Jupiter</button>
<button class="planet-button btn btn-danger btn-md" href="#" data-toggle="modal" data-target="#mymodal" onclick="populateModal(this.value)" value="6">Saturne</button>
<button class="planet-button btn btn-danger btn-md" href="#" data-toggle="modal" data-target="#mymodal" onclick="populateModal(this.value)" value="7">Uranus</button>
<button class="planet-button btn btn-danger btn-md" href="#" data-toggle="modal" data-target="#mymodal" onclick="populateModal(this.value)" value="8">Neptune</button> -->
<!-- <button class="planet-button btn btn-danger btn-md" href="#" data-toggle="modal" data-target="#mymodal" onclick="populateModal(this.value)" value="9">Pluton</button>-->
</div>
    
</div>
<div class=right-part>
    

<div  style="background:black; opacity:0.65; color:white" class="col-sm-8 well" >
    <!-- Le select ne marche pas encore mais presque -->
   
   <!--  <select ng-change="filterBy(parameter)" ng-model="parameter" ng-options="for x in parameters">
        <option ng-repeat="for x in parameters" disabled> --Données pour chaque planète-- </option>
        <option value="x"> {{x}} </option>
    </select>  -->

<!--<select class = "classForSelect" name = "sortTable" id = "sortTable" ng-model = "parameter" ng-change = "changeInformation(parameter)">
     <option value="" disabled> --Données pour chaque planète-- </option>
    <option value = "dist"> Distances </option>
    <option value = "temperature"> Températures </option>
<option value = "masse"> Masses </option></br>

</select>-->
<h4>Distances des planètes <input type="checkbox" ng-model="myCheck1"></h4>                      
<div ng-show="myCheck1">
<table classe ="table ">

    <tbody>
        <tr class="success">
                                    <td >Planètes</td>
                                    <td >Distances</td>
                                    
                                </tr>

                                
                                
                                <tr ng-repeat="x in dataplanet" >
                                    <th>{{x.name}}</th>
                                    <th class="infoTable">{{x.dist}}</th>
                                    
                                </tr>
                                
    </tbody>
</table>
</div>
<h4>Températures des planètes <input type="checkbox" ng-model="myCheck2"></h4>                      
<div ng-show="myCheck2">
<table classe ="table ">

    <tbody>
        <tr class="success">
                                    <td >Planètes</td>
                                    
                                    <td >Températures</td>
                                   
                                </tr>

                                
                                
                                <tr ng-repeat="x in dataplanet" >
                                    <th>{{x.name}}</th>
                                    
                                    <th class="infoTable">{{x.temperature}}</th>
                                    
                                </tr>
                                
    </tbody>
</table>
</div>
<h4>Durées de rotation des planètes autour du soleil <input type="checkbox" ng-model="myCheck3"></h4>                      
<div ng-show="myCheck3">
<table classe ="table ">

    <tbody>
        <tr class="success">
                                    <td >Planètes</td>
                                    <td >Durées</td>
                                    
                                </tr>

                                
                                
                                <tr ng-repeat="x in dataplanet" >
                                    <th>{{x.name}}</th>
                                    <th class="infoTable">{{x.rotation}}</th>
                                    
                                </tr>
                                
    </tbody>
</table>
</div>
<h4>Durées de rotation des planètes<input type="checkbox" ng-model="myCheck4"></h4>                      
<div ng-show="myCheck4">
<table classe ="table ">

    <tbody>
        <tr class="success">
                                    <td >Planètes</td>
                                    
                                    <td >Durées</td>
                                   
                                </tr>

                                
                                
                                <tr ng-repeat="x in dataplanet" >
                                    <th>{{x.name}}</th>
                                    
                                    <th class="infoTable">{{x.rotation2}}</th>
                                    
                                </tr>
                                
    </tbody>
</table>
</div>
<h4>Masses des planètes <input type="checkbox" ng-model="myCheck5"></h4>                      
<div ng-show="myCheck5">
<table classe ="table ">

    <tbody>
        <tr class="success">
                                    <td >Planètes</td>
                                    
                                    <td >Masses</td>
                                   
                                </tr>

                                
                                
                                <tr ng-repeat="x in dataplanet" >
                                    <th>{{x.name}}</th>
                                    
                                    <th class="infoTable">{{x.masse}}</th>
                                    
                                </tr>
                                
    </tbody>
</table>
</div>
<!-- {{mydata}} -->
<!-- <div ng-repeat="this.mydata"></div> -->
</div>
 <div  style="background:black; opacity:0.65; color:white" class="col-sm-8 well" >  
    Le système solaire correspond à l'ensemble des astres soumis au champ de gravitation du Soleil.
Ainsi, il comprend des planètes (Mercure, Vénus, la Terre, Mars, Jupiter, Saturne, Uranus, Neptune par ordre d'éloignement au Soleil) en orbite autour du Soleil et leurs satellites et anneaux, des planètes naines (Pluton, Éris...), des astéroïdes, des comètes, des météorites, des grains interplanétaires.
Nous savons aujourd'hui que notre système solaire n'est plus unique. Mais c'est celui que nous connaissons le mieux, c'est en effet la "banlieue" de la Terre.<br>
</br>
<h4>Quelques citations :</h4>
</br>         
" D'innombrables Soleils existent; d'innombrables 
terres sont en orbite 
autour de ces soleils de la même façon 
que les sept planètes tournent 
autour de notre soleil. 
Des êtres vivants peuplent ces mondes. "<br>
Giordano Bruno
</br>
</br>
"Si les astres étaient immobiles, le temps et l'espace 
n'existeraient plus."<br>
Maurice Maeterlink
</br>
</br>
" Ce qui est visible ouvre nos regards sur l'invisible "<br>
Anaxagore
</br>
</br>
"Le connu est fini, l'inconnu infini;
ce que nous comprenons n'est qu'un îlot perdu
dans l'océan illimité de l'inexplicable"<br>
T.H. Huxley
</br>
</br>
" Ce qui est admirable, ce n'est pas que le 
champ des étoiles soit si vaste, 
c'est que l'Homme l'ait mesuré."<br>
Anatole France
</br>
</br>
" La plus belle chose que nous puissions éprouver 
c'est le mystère des choses." <br>
Albert Einstein
</br>
</br>
"L'univers m'embarasse, et je ne peux songer que cette horloge existe et n'ait point d'horloger."<br>
Voltaire France 
</br>
</br>


                    
                    </div>
    
            
            </div>
     
    
</div> 
    
  </div>
  </div>  
    <div class="whitebackground" height="1000px">
            <div class="firstspeed"> </div>
            <div class="secspeed"> </div>
        </div>

        <!-- Modal -->
        <div id="mymodal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 id="modal-title" class="modal-title">Modal Header</h4> </div>
                        <div class="modal-body">
                            <div id="modal-subtitle" class="modal-subtitle" data-dismiss="modal"></div><img id="modal-image" class="modal-image col-xs-10 col-sm-5 col-md-12 col-lg-12 " src="#" />

<h4>Données de la planète<input type="checkbox" ng-model="myCheck"></h4>                      
<div ng-show="myCheck">
                       <!-- <p>Données de la planète</p> -->
                        <table  class="table table-hover table-striped " >
                            <tbody>
                                <tr class="table success">
                                    <th >Données étudiées</th>
                                    <th >Valeurs</th>
                                </tr>
                                <tr>
                                    <th name="satellites">Nombres de satellites naturels</th>
                                    <th id="satellites">Nombres de satellites naturels</th>
                                    
                                </tr>
                               <tr>
                                    <th name="dist">Distance moy au soleil en million de kilomètre</th>
                                    <th id="dist">Distance moy au soleil en million de kilomètre</th>
                               </tr>
                                
                                <tr>
                                    <th name="temperature">Température moyenne</th>
                                    <th id="temperature">Température moyenne</th>
                                </tr>
                                
                                <tr>
                                    <th name="masse">Masse</th>
                                    <th id="masse">Masse</th>
                                </tr>
                                <tr>
                                    <th name="rotation">Durée de rotation autour du soleil</th>
                                    <th id="rotation">Durée de rotation autour du soleil</th>
                                </tr>
                                <tr>
                                    <th name="rotation2">Durée de rotation de la planète</th>
                                    <th id="rotation2">Durée de rotation de la planète</th>
                                </tr>
                                <tr>
                                    <th name="diametre">Diamètre équatorial</th>
                                    <th id="diametre">Diamètre équatorial</th>
                                </tr>
                                <tr>
                                    <th name="liberation">Vitesse de libération</th>
                                    <th id="liberation">Vitesse de libération</th>
                                </tr>
                                 <tr>
                                    <th name="orbite">Vitesse orbitale de la planète</th>
                                    <th id="orbite">Vitesse orbitale de la planète</th>
                                </tr>
                                 <tr>
                                    <th name="inclinaison">Inclinaison de l'équateur sur l'orbite </th>
                                    <th id="inclinaison">Inclinaison de l'équateur sur l'orbite</th>
                                </tr>
                                <tr>
                                    <th name="accel">Accélération de la pesanteur </th>
                                    <th id="accel">Accélération de la pesanteur</th>
                                </tr>
                                <!--<tr>
                                    <th name="pression">Pression à la surface</th>
                                    <th id="pression">Pression à la surface</th>
                                </tr>-->
                            </tbody>
                        </table>
</div>
        
                        
 
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
          
        </div>  
</body>

</html>