body {
    color:black;

}
body {
    background-image:url("img/espace-10-espace-univers-art-digital.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0px;
    
}

table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
.nav li a:hover
{
    background: orange;
}
.jumbotron {
    margin: 0px;
    height: 200px;
    color: white;
    text-shadow: purple 0.3em 0.3em 0.3em;
}
.button{
    width:100%;
    float: left;
}
.planet-button{
    width:150px;
    margin-left:30px;
    transition:0.5s;
    background: white;
    text-align: center;
}
.line{
    background: white;
    color:black;
    width:0;
}
.planet-button:hover{
    background:red;
    color:white;
    border-bottom: 10px solid red;
}
.planet-button:hover > .line{
    
}
.classForSelect{
    color: black;
    text-align: center;
}
.table{
    text-align: center;
    color : black;
}
.infoTable{
    text-align: center;
}




